/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:focus {
  outline: none;
}

:root {
  /* Define CSS variables */
  --line-height-default: 1.5rem;
  --font-small: 16px;
  --font-medium: 20px;
  --font-large: 24px;
  --font-xlarge: 28px;
  --font-xxlarge: 32px;
  --color-primary: rgba(59, 113, 202, 255);
  --color-primary-transparent: rgba(59, 113, 202, 0.5);
  --color-white: white;
  --color-red: red;
  --padding-small: 10px;
  --padding-mid: 20px;
  --padding-medium: 30px;
  --padding-large: 40px;
  --border-radius: 5px;
  --gap-default: 30px;
  --background-color: #eaf1ef;
  --box-shadow-default: 0px 0px 10px coral;

  /* sizes */
  --default: 2rem;
  --gutter: 4rem;
  --gutter-mid: 5rem;
  --whitespace: 8rem;
  --macro: 10rem;
}

/* component styles */
.header__Title {
  width: 100%;
  height: 40px;
  padding: var(--padding-small);
}

.header__Text {
  text-align: center;
  font-size: var(--font-medium);
  margin: 0;
}

.html__ContentWrapper,
.button__Wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--gap-default);
  text-align: left;
  padding: var(--padding-medium);
  background: var(--background-color);
  overflow: hidden;
}

.first__Heading {
  margin-bottom: var(--gap-default);
  max-width: max-content;
}

.heading_H1 {
  font-size: var(--font-xxlarge);
  margin-bottom: var(--gap-default);
}

.heading_P {
  font-size: var(--font-medium);
  font-weight: 800;
}


/* content styles */

.content__paragraph {
  line-height: var(--line-height-default);
  font-size: var(--font-medium);
}

.content__paragraph span {
  color: var(--color-red);
}

.list__Items {
  margin: var(--padding-medium);
  display: flex;
  flex-direction: column;
  gap: var(--gap-default);
  font-size: var(--font-medium);
}

.container {
  margin: 0 auto;
}


/* Button styles */
.btn__Outline {
  padding: var(--padding-small) var(--padding-medium);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-medium);
  font-weight: 600;
  max-width: fit-content;
  background: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}

.btn__Outline:hover,
.btn__Outline:focus {
  background: var(--color-primary-transparent);
  box-shadow: var(--box-shadow-default);
}

.container__Fluid {
  background: #dddddd;
  padding: var(--gutter-mid) 0;
  width: 100%;
}

.header__wrapper {
  background: #008000;
  height: 55px;
  padding: var(--padding-mid);
}

.section__Wrapper {
  margin: var(--gutter-mid) var(--gutter-mid);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gutter-mid);
  text-align: center;
}

.section__One,
.section__Left,
.section__Right {
  padding: 1rem;
  height: 60px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  font-size: 18px;
}
.section__One {
  background: #ffc0cb;
  text-align: center;
}

.section__Inner {
  display: flex;
  flex-wrap: wrap;
}

.section__Left {
  background: #0000ff;
  flex-basis: 40%;
}

.section__Right {
  background: #ffff00;
  flex-basis: 60%;
}
.image__FooterWrapper {
  position: relative;
}

.image__FooterWrapper img {
  width: 100%;
  max-height: 300px;
  display: block;
  object-fit: cover;
}

.footer {
  position: absolute;
  background: #a52a2a;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--padding-mid);
  text-align: center;
  font-size: var(--font-medium);
}

/* landing page section styles */

.hero {
  background: #ffff00; /* fallback background-color */
  background-image: url(images/cruiseBoat.jpeg);
  background-size: cover;
  background-position: center;
}

.hero__btn {
  background: #28a745;
  color: #ffffff;
  padding: 12px 28px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  border: none;
}

.hero__btn:hover {
  background: #3679e1;
}

.text__Wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: var(--whitespace) var(--whitespace);
  text-align: left;
  flex-wrap: nowrap;
  color: #ffffff;
}

.text__Wrapper h3,
h1 {
  font-weight: 600;
  font-size: 80px;
  word-wrap: break-word;
}

.text__Wrapper p {
  font-size: 28px;
}

/* media query for hero section */
@media (width <= 768px) {
  .text__Wrapper {
    justify-content: center;
    align-items: center;
    padding: var(--whitespace) 0;
  }
  .text__Wrapper h3,
  h1 {
    font-size: 60px;
  }
}

.section__Title {
  text-align: center;
  padding: 3.5rem 0;
  font-size: var(--font-large);
}


/* Card styles */
.cards__Section {
  background: #6c757d;
  padding-bottom: var(--gutter);
}

.card__Wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
  flex-wrap: wrap;
}

.cards {
  height: 450px;
  width: 350px;
  background: #ffffff;
  gap: 40px;
  box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.card__Image {
  background: #cccccc;
  height: 35%;
  width: 100%;
}

.card__Image p {
  font-size: 40px;
  font-weight: 300;
  color: #ababab;
  padding-top: 15%;
  text-align: center;
}

.card__Content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 8px;
  line-height: 1.5;
}


/* card button styles */
.card__btn {
  background: #3679e1;
  color: #ffffff;
  padding: 8px 8px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.card__btn:hover,
.card__btn:focus {
  background: #28a745;
}


/* form section styles */
.form__Section {
  padding: var(--gutter-mid) var(--gutter);
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.form__Heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: var(--gutter);
}

.form__Group {
  flex-basis: calc(50% - 10px);
  margin-bottom: var(--padding-mid);
}

.form__Group:last-child {
  flex-basis: 100%;
}

.form__Group label {
  display: block;
  margin-bottom: 5px;
}

.form__Group input,
.form__Group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}


/* form button */
.form__btn {
  width: 100%;
  background: #3679e1;
  padding: 10px;
  margin-top: var(--padding-mid);
  color: #ffffff;
  font-size: var(--font-small);
  cursor: pointer;
  border: none;
  border-radius: 25px;
}


/* hover card section and styles */
.hoverCard__Section {
  background: #f47ba6;
  min-height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hoverCard__Wrapper {
  position: relative;
  margin-top: var(--whitespace);
}

.hoverCard {
  width: 400px;
  height: 250px;
  background: #ffffff;
  margin: var(--whitespace) var(--gutter-mid);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  border-radius: 15px;
}

.hoverCard:hover {
  height: 450px;
}

.hoverCard__Image {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--padding-mid);
}

.hoverCard__Image img {
  width: 300px;
  height: 250px;
  border-radius: 50px;
  object-fit: cover;
}

.hoverCard__Info {
  padding: 1rem 2rem;
  text-align: center;
  line-height: 1.5;
  font-size: 22px;
}

.hoverCard__Info h3,
.posts h3,
.followers h3 {
  color: #3a3a43;
}
.hoverCard__Info p,
.posts p,
.followers p,
.following p {
  color: #cccccc;
}

.hoverCard__Content {
  visibility: hidden;
  display: flex;
  padding-top: 2rem;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.hoverCard:hover .hoverCard__Content {
  visibility: visible;
  transition-delay: 0.2s;
  opacity: 1;
}

.hoverCard__ButtonWrapper {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  width: 100%;
  visibility: hidden;
}

.hoverCard:hover .hoverCard__ButtonWrapper {
  visibility: visible;
  transition-delay: 0.3s;
  opacity: 1;
}

.follow__btn,
.message_btn {
  padding: 18px 28px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  outline: 1px solid #fff;
  cursor: pointer;
}

.follow__btn {
  color: #ffffff;
  background: #f14a95;
}

.follow__btn:hover {
  color: #fff;
  background: #28a745;
}

.message_btn:hover {
  background: #f14a95;
  color: #fff;
}
